{{define "title"}}{{.Blogo.Title}}{{end}}

{{define "extraHead"}}
<meta property="og:type" content="website" />
<meta name="description" content="{{.Blogo.Description}}">
<meta property="og:description" content="{{.Blogo.Description}}" />
<meta name="keywords" content="{{.Blogo.Keywords}}">
<meta property="og:title" content="{{.Blogo.Title}}" />
<meta property="og:url" content="{{.Blogo.Url}}" />
<meta property="og:image" content="{{.Blogo.Url}}/static/assets/logo.png" />
<meta property="thumbnail" content="{{.Blogo.Url}}/static/assets/logo.png">
<meta name="twitter:image" content="{{.Blogo.Url}}/static/assets/logo.png">
<!--Add canonical url-->
<link rel="canonical" href="{{.Blogo.Url}}" />
{{end}}

{{define "main"}}
    {{if ne .Blogo.Description ""}}
        <div class="divider"></div>
        <section class="flex justify-center px-4">
            <p class="max-w-lg text-sm leading-6 text-center">
                {{.Blogo.Description}}
            </p>
        </section>
    {{end}}

    <div class="divider"></div>
    <section class="flex flex-col items-center justify-center px-4 mt-8 font-mono">
        <h2 class="text-2xl font-bold"><span class="opacity-50">></span> Posts</h2>
        <ul class="max-w-lg mt-6 mb-8 space-y-3">
            {{range .Articles}}
                {{if .Draft}}
                    {{continue}}
                {{end}}
                <li>
                    <div class="text-xs text-gray-500">
                        ({{humanizeTime .Date}})
                    </div>
                    <div>
                        :: <a class="text-lg font-bold underline hover:text-blue-900 dark:hover:text-blue-300" href="/p/{{.Slug}}">{{.Title}}</a>
                    </div>
                    {{if ne .Summary ""}}
                        <div class="mt-2 text-sm text-justify text-base-content text-opacity-70">
                            {{.Summary}}
                        </div>
                    {{end}}
                    {{if ne (len .Tags) 0}}
                        <div class="mt-2">
                            {{range .Tags}}
                                <a class="py-2 text-xs text-gray-500 no-underline hover:text-blue-900 dark:hover:text-blue-300" href="/t/{{.}}">#{{.}}</a>
                            {{end}}
                        </div>
                    {{end}}
                </li>
                <div class="divider"></div>
            {{end}}
        </ul>
    </section>

{{end}}