{{define "title"}}{{.Article.Title}} | {{.Blogo.Title}}{{end}}

{{define "extraHead"}}
<!--SEO and Sharing metas-->
<meta property="og:type" content="article" />
<meta name="description" content="{{.Article.Summary}}">
<meta property="og:description" content="{{.Article.Summary}}" />
<meta name="keywords" content="{{.Article.Tags}}">
<meta property="og:title" content="{{.Article.Title}}" />
<meta property="og:url" content="{{.Blogo.Url}}/p/{{.Article.Slug}}" />

<!--Avoid indexing drafts-->
{{if .Article.Draft}}
    <meta name="robots" content="noindex">
{{end}}

<!--Add image as banner for social sharing-->
{{if ne .Article.Image ""}}
    <meta property="og:image" content="{{.Article.Image}}" />
    <meta property="thumbnail" content="{{.Article.Image}}">
    <meta name="twitter:image" content="{{.Article.Image}}">
{{else}}
    <meta property="og:image" content="{{.Blogo.Url}}/static/assets/logo.png" />
    <meta property="thumbnail" content="{{.Blogo.Url}}/static/assets/logo.png">
    <meta name="twitter:image" content="{{.Blogo.Url}}/static/assets/logo.png">
{{end}}

<!--Add canonical url-->
<link rel="canonical" href="{{.Blogo.Url}}/p/{{.Article.Slug}}" />

<!--Add CSS styles-->
<link rel="stylesheet" type="text/css" href="/static/css/markdown.css">
{{end}}

{{define "main"}}

<section class="px-2 pt-2 pb-6 text-center">
    {{if ne .Article.Image ""}}
    <div class="flex justify-center items-center px-2 my-2 w-full">
        <img src="{{.Article.Image}}" class="object-cover object-top max-w-2xl opacity-90 rouded-sm h-fit dark:opacity-75" alt="">
    </div>
    {{end}}

    <h1 class="pt-2 mb-2 text-3xl font-bold text-gray-900 text-opacity-90 capitalize sm:text-4xl dark:text-gray-300 md:text-5xl">{{.Article.Title}}</h1>
    
    <div class="mt-3 mb-3 opacity-60">
        {{if .Article.Draft}}
            <div class="pb-2 text-center">
                <span class="font-bold badge badge-warning badge-lg">DRAFT</span>
            </div>
        {{end}}

        {{if gt (len .Article.Tags) 0}}
        <div>
            {{range .Article.Tags}}
            <span class="inline-block mb-1 text-xs text-center text-black/80 dark:text-white/50">
                <a class="no-underline hover:text-blue-900 dark:hover:text-blue-300" href="/t/{{.}}">#{{.}}</a>
            </span>
            {{end}}
        </div>
        {{end}}

        <div class="mb-0 text-xs font-medium text-center text-black/80 dark:text-white/80">
            <span class="drop-shadow-sm">~{{readTime .Article.Md}} min read</span>
            {{if ne .Article.Author ""}}
                <span class="drop-shadow-sm">by {{.Article.Author}}, {{dateString .Article.Date}}</span>
            {{else}}
                <span>{{dateString .Article.Date}}</span>
            {{end}}
        </div>
        
        {{if and (ne .Article.NostrUrl "") (ne .Article.NostrUrl "0") (ne .Article.NostrUrl "false")}}
            <div class="pb-2 text-center">
                <a class="text-xs font-bold text-blue-900 underline dark:text-blue-300" href="{{.Article.NostrUrl}}">Read on Nostr</a>
            </div>
        {{end}}
    </div>  
</section>

<section class="px-6 mt-1 max-w-full">
    <div id="markdown" class="pb-12 prose prose-xl md:prose-2xl prose-blue prose-code:text-base prose-hr:border-zinc-600 prose-hr:dark:border-zinc-400 prose-blockquote:border-blue-600 prose-blockquote:dark:border-blue-900 dark:prose-invert font-garamond">
        {{html .Article.Html}}
    </div>
</section>

{{end}}